* {
    font-family:Georgia, 'Verdana', Times, serif;
    text-align:center;
    padding:5px;
    background-color:beige;
    overflow:auto;
}

body{
    width:1000px;
    margin:0 auto;
    line-height: 150%;
}

p {
    font-family: Georgia, serif;
}

dl{
    float:left;
}
h1 {
    font-family:Verdana, sans-serif;
}

h2 {
    font-family: Verdana, sans-serif;
}

li{
    display:inline;
}

article {
    padding-top: 1px;
    width:300px;
    height:300px;
    display:inline-block;
	border-style: solid;
}

nav{
    border-style: solid;
    border-color: 000000;
    width:fit-content;
    display: inline-block;
}

footer{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    opacity: 0.5;
    
}

.nobox{
    border-style: none;
    /*display:inline-block;*/
    height: 300px;
    width: 300px;
    float:left;
    
}

.content{
    display:inline-block;
}